@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumbs {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #475467;
}

.breadcrumbs span {
  margin-right: 8px;
}

.breadcrumbs .lastBorn:last-child {
  font-weight: bolder;
  text-align: center;
  background-color: #f9fafb;
  padding: 5px;
  border-radius: 5px;
}
